<h1>About Page</h1>
<p>For our data project we chose to use a dataset from the video game
    "League of Legends". The dataset has the playable Champions as well as
    their game stats taken from the "ARAM" game mode.</p>
<p>We're also using "Faker" to generate the locations from the game
     using their LeagueofLegends class</p>
