<div class="container">
    <h1>Champions</h1>

    <div class="row">
        <% @champions.each do |champion| %>
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <%= link_to champion.name, champion %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <nav>
        <ul class="pagination justify-content-center">
        <%= paginate @champions %>
        </ul>
    </nav>
</div>